#status {
    float: left;
}

body {
    background-color: #FAF3F0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 99%;
    margin: auto;
}

#navbar {
    background-color: #DBC4F0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: #3a1737;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    width: 33%;
    border-left: 1px solid white;

}

#navhome {
    background-color: #BA90C6;
}

#navbar a.navother:hover {
    background-color: #BE6DB7;
    color: #FFEEF4;
}

.main {
    margin-top: 70px;
    height: 1200px;
}


h3 {
    font-style: italic;
    color: #354259;
}

hr {
    border-top: 1px solid purple;
    width: 100%;
}

.myimg {
    border-radius: 200px;
    width: 200px;
    margin-right: 20px;
}

#myimgcontact {
    border-radius: 200px;
    width: 200px;
}

img:hover {
    transform: scale(1.2);
}

input[type=text],
select {
    width: 100%;
    padding: 8px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #C37B89;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#submitedit:hover {
    background-color: #b89b9b;
}

#about {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}

#about td,
#about th {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: middle;
}

#about tr:nth-child(even) {
    background-color: #FEFCF3;
}

#about tr:hover {
    background-color: #F2D7D9;
}

#about th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #EAC7C7;
    color: white;
}

th img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}



#nameabout {
    padding-top: 20px;
    padding-right: 33%;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

hr.hrspan {
    border-top: 1px solid #905964;
}

.aboutme {
    float: right;
}

#profimg {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: #D4E2D4;
}